*{
    background-color: rgb(228, 199, 199);
}
nav .logo img{
    max-width: 15%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 5px;
}
nav .action{
    padding-top: 5px;
    display: flex;
}
nav .action button{
    width: 100px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 20px;
}
nav .action .login{
    margin-left: 30px;
}
nav .action .signup{
    cursor: pointer;
    border: none;
    font-size: 18px;
}
nav .action .login{
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    font-size: 18px;
    
}
nav .action .signup:hover{
    background-color: forestgreen;
    color: aliceblue;
}
nav .action .search{
    margin: 0 200px 6px 0;
    width: 400px;
    height: 40px;
    border-radius: 20px;
}
.cards .card1{
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    position: relative;
}
.card1 h1{
    color: #a3a3a3;
    background-color: black;
    margin-left: 30px;
    margin-top: 50px;
}
.plus{
    background-color: black;
}
.c1 h2 {
    background-color: rgb(12, 12, 12);
    border-radius: 10px;;
    color: white;
    margin: 50px 0 0 5px;
    font-weight: 300;
}
.c1 h4{
    background-color: rgb(12, 12, 12);
    border-radius: 10px;;
    color: white;
    margin-left: 5px;
}
.c2 h3{
    background-color: rgb(12, 12, 12);
    border-radius: 10px;;
    color: white;
    margin-left: 5px;
}
.c2 h4{
    background-color: rgb(12, 12, 12);
    border-radius: 10px;;
    color: white;
    margin-left: 5px;
}
.create{
    width: 140px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    border: none;
    margin-left: 5px;
    
}
.create1{
    width: 140px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    border: none;
    margin-left: 5px;
}
.card1 .plus h1{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    margin-left: 250px;
    background-color: black;
    margin-top: -50px;
    padding: 5px 0 0 0;
}
.cards .card1  .r1{
    width: 300px;
    height: 130px;
    background-color:black;
    border-radius: 10px;
    overflow: scroll;
    margin-top: -20px;
    margin-top: 10px;
   
}
.r1::-webkit-scrollbar {
    display: none;
  }
  
.card1 .r1 .c1{
    width: 290px;
    height: 130px;
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -20px;
   
}
.card1 .r1 .c2{
    width: 290px;
    height: 130px;
    background-color:rgb(12, 12, 12);
    border-radius: 10px; ;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.cards .card2{
    width: 1050px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
.cards{
    display: flex;
    gap: 10px;
}

.row {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
    
}
.row .c1{
    width: 300px;
    height: 200px;
    background-color: deeppink;
    border-radius: 10px;

}
.row .c1 h1{
    color: white;
    background-color: deeppink;
    margin-left: 10px;
}
.row .c1 img{
    
    margin-left: 170px;
}
.row .c2{
    width: 300px;
    height: 200px;
    background-color: lightseagreen;
    border-radius: 10px;

}
.row .c2 h1{
    color: white;
    background-color: lightseagreen;
    margin-left: 10px;
}
.row .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
}
.row .c3{
    width: 300px;
    height: 200px;
    background-color:blueviolet ;
    border-radius: 10px;

}
.row .c3 h1{
    color: white;
    background-color: blueviolet;
    margin-left: 10px;
}
.row .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
}
.row1 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row1 .c1{
    width: 300px;
    height: 200px;
    background-color: darkmagenta;
    border-radius: 10px;

}
.row1 .c1 h1{
    color: white;
    background-color: darkmagenta;
    margin-left: 10px;
}
.row1 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
}
.row1 .c2{
    width: 300px;
    height: 200px;
    background-color: cornflowerblue;
    border-radius: 10px;

}
.row1 .c2 h1{
    color: white;
    background-color: cornflowerblue;
    margin-left: 10px;
}
.row1 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
}
.row1 .c3{
    width: 300px;
    height: 200px;
    background-color:deeppink ;
    border-radius: 10px;

}
.row1 .c3 h1{
    color: white;
    background-color: deeppink;
    margin-left: 10px;
}
.row1 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
}
.row2 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row2 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(112, 188, 218);
    border-radius: 10px;

}
.row2 .c1 h1{
    color: white;
    background-color:rgb(112, 188, 218) ;
    margin-left: 10px;
}
.row2 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
}
.row2 .c2{
    width: 300px;
    height: 200px;
    background-color:deeppink;
    border-radius: 10px;

}
.row2 .c2 h1{
    color: white;
    background-color:deeppink ;
    margin-left: 10px;
}
.row2 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row2 .c3{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 10px;
}
.row2 .c3 h1{
    color: white;
    background-color:aquamarine ;
    margin-left: 10px;
}
.row2 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row3 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row3 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(20, 97, 165);
    border-radius: 10px;

}
.row3 .c1 h1{
    color: white;
    background-color:rgb(20, 97, 165) ;
    margin-left: 10px;
}
.row3 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row3 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(187, 170, 19);
    border-radius: 10px;

}
.row3 .c2 h1{
    color: white;
    background-color:rgb(187, 170, 19);
    margin-left: 10px;
}
.row3 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
    margin-top: -25px;
}
.row3 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(90, 9, 110);
    border-radius: 10px;

}
.row3 .c3 h1{
    color: white;
    background-color:rgb(90, 9, 110) ;
    margin-left: 10px;
}
.row3 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row4 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row4 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(88, 167, 236);
    border-radius: 10px;

}
.row4 .c1 h1{
    color: white;
    background-color:rgb(88, 167, 236) ;
    margin-left: 10px;
}
.row4 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
    margin-top: -25px;
}
.row4 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(40, 6, 230);
    border-radius: 10px;

}
.row4 .c2 h1{
    color: white;
    background-color:rgb(40, 6, 230) ;
    margin-left: 10px;
}
.row4 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row4 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(196, 32, 86);
    border-radius: 10px;

}
.row4 .c3 h1{
    color: white;
    background-color:rgb(196, 32, 86) ;
    margin-left: 10px;
}
.row4 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row5 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row5 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(10, 192, 216);
    border-radius: 10px;

}
.row5 .c1 h1{
    color: white;
    background-color:rgb(10, 192, 216) ;
    margin-left: 10px;
}
.row5 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row5 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(224, 8, 37);
    border-radius: 10px;

}
.row5 .c2 h1{
    color: white;
    background-color:rgb(224, 8, 37);
    margin-left: 10px;
}
.row5 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row5 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(231, 106, 22);
    border-radius: 10px;

}
.row5 .c3 h1{
    color: white;
    background-color:rgb(231, 106, 22);
    margin-left: 10px;
}
.row5 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row6 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row6 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(155, 17, 160);
    border-radius: 10px;

}
.row6 .c1 h1{
    color: white;
    background-color:rgb(155, 17, 160);
    margin-left: 10px;
}
.row6 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row6 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(65, 181, 185);
    border-radius: 10px;

}
.row6 .c2 h1{
    color: white;
    background-color:rgb(65, 181, 185);
    margin-left: 10px;
}
.row6 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row6 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(7, 133, 243);
    border-radius: 10px;

}
.row6 .c3 h1{
    color: white;
    background-color:rgb(7, 133, 243);
    margin-left: 10px;
}
.row6 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row7 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row7 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(63, 107, 121);
    border-radius: 10px;

}
.row7 .c1 h1{
    color: white;
    background-color:rgb(63, 107, 121);
    margin-left: 10px;
}
.row7 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row7 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(88, 64, 153);
    border-radius: 10px;

}
.row7 .c2 h1{
    color: white;
    background-color:rgb(88, 64, 153);
    margin-left: 10px;
}
.row7 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row7 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(25, 156, 102);
    border-radius: 10px;

}
.row7 .c3 h1{
    color: white;
    background-color:rgb(25, 156, 102);
    margin-left: 10px;
}
.row7 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row8 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row8 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(146, 131, 47);
    border-radius: 10px;

}
.row8 .c1 h1{
    color: white;
    background-color:rgb(146, 131, 47);
    margin-left: 10px;
}
.row8 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row8 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(250, 6, 156);
    border-radius: 10px;

}
.row8 .c2 h1{
    color: white;
    background-color:rgb(250, 6, 156);
    margin-left: 10px;
}
.row8 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row8 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(53, 216, 228);
    border-radius: 10px;

}
.row8 .c3 h1{
    color: white;
    background-color:rgb(53, 216, 228);
    margin-left: 10px;
}
.row8 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row9 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row9 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(147, 194, 235);
    border-radius: 10px;

}
.row9 .c1 h1{
    color: white;
    background-color:rgb(147, 194, 235);
    margin-left: 10px;
}
.row9 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row9 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(112, 231, 182);
    border-radius: 10px;

}
.row9 .c2 h1{
    color: white;
    background-color:rgb(112, 231, 182);
    margin-left: 10px;
}
.row9 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row9 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(228, 164, 219);
    border-radius: 10px;

}
.row9 .c3 h1{
    color: white;
    background-color:rgb(228, 164, 219);
    margin-left: 10px;
}
.row9 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row10 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row10 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(184, 240, 235);
    border-radius: 10px;
}
.row10 .c1 h1{
    color: white;
    background-color:rgb(184, 240, 235);
    margin-left: 10px;
}
.row10 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}

.row10 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(71, 14, 67);
    border-radius: 10px;

}
.row10 .c2 h1{
    color: white;
    background-color:rgb(71, 14, 67);
    margin-left: 10px;
}
.row10 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row10 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(7, 135, 248);
    border-radius: 10px;

}
.row10 .c3 h1{
    color: white;
    background-color:rgb(7, 135, 248);
    margin-left: 10px;
}
.row10 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row11 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row11 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(141, 11, 43);
    border-radius: 10px;

}
.row11 .c1 h1{
    color: white;
    background-color:rgb(141, 11, 43);
    margin-left: 10px;
}
.row11 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row11 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(194, 82, 209);
    border-radius: 10px;

}
.row11 .c2 h1{
    color: white;
    background-color:rgb(194, 82, 209);
    margin-left: 10px;
}
.row11 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}

.row11 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(66, 165, 204);
    border-radius: 10px;

}
.row11 .c3 h1{
    color: white;
    background-color:rgb(66, 165, 204);
    margin-left: 10px;
}
.row11 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}

.row12 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row12 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(117, 167, 211);
    border-radius: 10px;

}
.row12 .c1 h1{
    color: white;
    background-color:rgb(117, 167, 211);
    margin-left: 10px;
}
.row12 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row12 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(180, 58, 144);
    border-radius: 10px;

}
.row12 .c2 h1{
    color: white;
    background-color:rgb(180, 58, 144);
    margin-left: 10px;
}
.row12 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row12 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(29, 159, 192);
    border-radius: 10px;

}
.row12 .c3 h1{
    color: white;
    background-color:rgb(29, 159, 192);
    margin-left: 10px;
}
.row12 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}

.row13 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row13 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(214, 68, 214);
    border-radius: 10px;

}
.row13 .c1 h1{
    color: white;
    background-color:rgb(214, 68, 214);
    margin-left: 10px;
}
.row13 .c1 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row13 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(135, 142, 202);
    border-radius: 10px;

}
.row13 .c2 h1{
    color: white;
    background-color:rgb(135, 142, 202);
    margin-left: 10px;
}
.row13 .c2 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row13 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(189, 184, 111);
    border-radius: 10px;

}
.row13 .c3 h1{
    color: white;
    background-color:rgb(189, 184, 111);
    margin-left: 10px;
}
.row13 .c3 img{
    width: 100px;
    height: 100px;
    margin-left: 170px;
    border-radius: 3px;
}
.row14 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row14 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(64, 89, 110);
    border-radius: 10px;

}
.row14 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(88, 196, 169);
    border-radius: 10px;

}
.row14 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(216, 95, 151);
    border-radius: 10px;

}
.row15 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row15 .c1{
    width: 300px;
    height: 200px;
    background-color: rgb(69, 90, 19);
    border-radius: 10px;

}
.row15 .c2{
    width: 300px;
    height: 200px;
    background-color: rgb(67, 22, 73);
    border-radius: 10px;

}
.row15 .c3{
    width: 300px;
    height: 200px;
    background-color: rgb(48, 171, 202);
    border-radius: 10px;

}



