*{
    background-color: rgb(228, 199, 199);
}
nav .logo img{
    max-width: 15%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 5px;
}
nav .action{
    padding-top: 5px;
    display: flex;
}
nav .action button{
    width: 100px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 20px;
}
nav .action .login{
    margin-left: 30px;
}
nav .action .signup{
    cursor: pointer;
}
nav .action .login{
    background-color: white;
    color: black;
    cursor: pointer;
    
}
nav .action .signup:hover{
    background-color: forestgreen;
    color: aliceblue;
}
nav .action .search{
    margin: 0 200px 6px 0;
    width: 400px;
    height: 40px;
    border-radius: 20px;
}
.cards .card1{
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
}
.cards .card2{
    width: 1050px;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    
}
.cards{
    display: flex;
    gap: 10px;
}

.row {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row .c1{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row .c2{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row .c3{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row1 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row1 .c1{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row1 .c2{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row1 .c3{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row2 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row2 .c1{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row2 .c2{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row2 .c3{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row3 {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    background-color: black;
    margin-left: 20px;
}
.row3 .c1{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row3 .c2{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
.row3 .c3{
    width: 300px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 10px;

}
