*{
    background-color: #666;
}
.child{
    width: 200px;
    height: 200px;
border-radius: 50%;
background-color: crimson; 
}
.child1{
    width: 200px;
    height: 200px;
border-radius: 50%;
background-color:cyan;
margin:0px 0px 0px 50%; ; 
}