*{
    background-color: #333;
}
.parent{
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    padding: 50px;
}
.child{
    width:200px ;
    height: 200px;
    background-color: brown;
    margin:90px 0px 0px 90px;
    padding: 5px;
}
.child1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: cadetblue;
    margin: 40px 0px 0px 40px ;
    padding: 5px;
}